/* for screen 1000px and less */
@media(max-width: 1000px){
  .company-content{
    flex-direction: column;
  }

  .companies{
    width: 100%;
  }

  .action-goals{
    width: 100%;
  }
}

/* for screens 700px and less */
@media(max-width: 700px){
  .navbar{
    width: 100%;
  }
}
